<!DOCTYPE html>
<html>
<title>Dash Forms</title>
<meta name='description' content='With dash.management, maintaining your organization becomes fast and cost-effective.'>
<meta name='keywords' content='project management,organization,management,managing,workflow,cost,effective,primary,schools,corporates'>
<meta name='author' content='Dash Management'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<link rel='icon' type='text' href='assets/dash_logo.svg'>
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="main.css">
<link href="./high/prism.css" rel="stylesheet" />
<script>
  function showhtml(){
    document.getElementById('cssc').style.display = 'none';
    document.getElementById('htmlc').style.display = 'block';
  }
  function showcss(){
    document.getElementById('cssc').style.display = 'block';
    document.getElementById('htmlc').style.display = 'none';
  }
</script>
<body>

  <div class="flexcon">
    <img id="logo" src="./fundbuccket.png">
  </div>
  <div class="flexcon lname">
    FundBucket
  </div>
  
  <div class="flexcon">
    <div class="rescon">
      
     
      <div class="res">
        <div class="reschild">
          <div class="resphoto">

          </div>
          <div class="fundescrip">HELP ME</div>
          <div class="moredes">Give me your help, please, please, please, give me that help</div>
        </div>
      </div>
      <div class="res">
        <div class="reschild">
          <div class="resphoto">

          </div>
          <div class="fundescrip">HELP ME</div>
          <div class="moredes">Give me your help, please, please, please, give me that help</div>
        </div>
      </div>
      <div class="res">
        <div class="reschild">
          <div class="resphoto">

          </div>
          <div class="fundescrip">HELP ME</div>
          <div class="moredes">Give me your help, please, please, please, give me that help</div>
        </div>
      </div>
      <div class="res">
        <div class="reschild">
          <div class="resphoto">

          </div>
          <div class="fundescrip">HELP ME</div>
          <div class="moredes">Give me your help, please, please, please, give me that help</div>
        </div>
      </div>
      <div class="res">
        <div class="reschild">
          <div class="resphoto">

          </div>
          <div class="fundescrip">HELP ME</div>
          <div class="moredes">Give me your help, please, please, please, give me that help</div>
        </div>
      </div>
      <div class="res">
        <div class="reschild">
          <div class="resphoto">

          </div>
          <div class="fundescrip">HELP ME</div>
          <div class="moredes">Give me your help, please, please, please, give me that help</div>
        </div>
      </div>
      
    </div>
  </div>
  
  
  
  <script src="./high/prism.js"></script>
</body>
</html> 