{% extends 'base.html' %}
{% block title %}
    {% load static %}
    <title>FundBucket | New Post</title>
    <link rel="stylesheet" href="{% static 'projects/css/post_create.css' %}">
{% endblock %}

{% block content %}
    <div id="newpost-box">
        <h1>Add a new Post</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class = 'button' type="submit" value="Submit">
        </form>
    </div>
{% endblock %}