{% extends 'base.html' %}
{% block title %}
    <title>Fund Bucket | Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/signup.css' %}">
{% endblock %}
{% block content %}
    <p>Welcome {{user.first_name}}</p>
    <div id='signup-box'>
        <h1>Enter Your Profile Details</h1>
        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
</body>
</html>