{% extends 'base.html' %}
{% block title %}
    <title>FundBucket | Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/signup.css' %}">
{% endblock %}
{% block content %}
    <div id="signup-box">
        <h1>SIGN UP</h1>
        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input class="button" type="submit" value="Submit">
        </form>
        <hr>
        <a href="{% url 'accounts:login' %}">Already Registered? Go to Login</a>
    </div>
{% endblock %}