body{
    padding: 0;
}
nav{
   max-height: 75px;
   display: flex; 
   align-items: center;
   padding: 0 12px;
   margin-bottom: 20px;
   box-shadow: 0 5px 16px 0 #bbb;
}
.navbar-brand img{
    height: 75px;
}
.navbar-brand{
    font-size: larger;
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    height: 100%;
}
nav ul li{
    margin-right: 25px;
    height: 100%;
    display: flex;
    align-items: center;
}
nav ul li a:hover{
    color: rgba(0,0,0,0.5);
}
.content{
    /* margin-top: 100px; */
}
nav .welcome{
    display: flex;
    align-items: center;
}
nav .welcome img{
    height: 50px;
    margin-right: 12px;
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: inherit;
}