<!DOCTYPE html>
<html>
<title>FundBucket</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<link rel="stylesheet" href="main.css">
<script>
  function showhtml(){
    document.getElementById('cssc').style.display = 'none';
    document.getElementById('htmlc').style.display = 'block';
  }
  function showcss(){
    document.getElementById('cssc').style.display = 'block';
    document.getElementById('htmlc').style.display = 'none';
  }
</script>
<body>

  


  <div class="flexcon">
    <img class="titleimg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTA4yQ2-CzEbEi9R6X5fotKMKIJyzAJGyBJORtw8hveiRcWbWeX" alt="">
  </div>

  <div class="flexcon">
    <div class="fundcon">
      <div class="fdet">
        <div style="font-weight: bold;">{{ user.first_name+user.last_name }}</div>
        <div style="flex:1"></div>
        <div>{{ post.published_date }}</div>
      </div>
      <div class="progressbar">
        <div id="prog" class="done"></div>
      </div>
      <div class="fdet" style="padding-top: 5px;">
        <div>$</div>
        <div id="howmuch">{{ user.funds }}</div>
        <div>&nbsp out of &nbsp</div>
        <div>$</div>
        <div id="tf" style="font-weight: bold;">{{ user.total_funds }}</div>
        <div>&nbsp raised</div>
      </div>
      <div class="funddesc">
        <span class="title">{{ post.title }}</span><br><br>
        <span class="cat">Category: {{ post.category }}</span><br><br><br>
        {{ post.description }}
      </div>

      <div class="contri">
        <div class="conttext">CONTRIBUTE</div>
        <form action="{% url 'projects:add_funds' pk=post.pk %}" method="post">
          {{ add_funds_form.as_p }}
          {{ add_comment_form.as_p }}
          {% csrf_token %}
          <button class="donb">DONATE</button>
        </form>
      </div>

    </div>

  </div>
  user = models.OneToOneField(User,on_delete=models.CASCADE, primary_key=True)
    mobile_number = models.IntegerField()
    address = models.CharField(max_length=100)
    city = models.CharField(max_length=50)
    state = models.CharField(max_length=20)
    account_number = models.IntegerField(null=True)
    bank_ifsc = models.CharField(verbose_name='Bank IFSC Code', max_length=30, blank=True)    
    profile_pic = models.ImageField(default='https://drive.google.com/open?id=16ZU24pGnhv3UUrdbb6vQSagFGiKHLMWX')
    # registered = models.BooleanField(default=False)
    fields = ['profile_pic', 'mobile_number', 'address', 'city', 'state', 'account_number', 'bank_ifsc']
  <script defer>
    window.onload = function(){
      var hm = document.getElementById('howmuch').innerHTML.trim();
      var ht = document.getElementById('tf').innerHTML.trim();
      var hm = document.getElementById('prog').style.width = hm*100/ht+'%';
    }
  </script>
</body>
</html> 